* {
padding: 0;
margin: 0;    
}

body {
background: linear-gradient(180deg, #f489b7, #9198e5) no-repeat;
width: 100%;
height: 100vh;
overflow: hidden;

}

main {
width: 45%;
height: 350px;
margin: 150px auto 0 auto;
padding: 50px;
background: #fafafa;
filter: drop-shadow(2px 2px 2pc rgba(0,0,0,0.5));
}

.container {
width: 40%;
height: auto;
margin: 0 auto;   
}

.container h1 {
text-align: center;
margin-top: 25px;  
font: normal 900 2em Avenir, sans-serif;  
color: #131313;
}

.container form {
width: 100%;
margin: 25px auto 0 auto;    
}

.container form input[type='text'], .container form input[type='password'] {
width: 100%;
height: 45px;
border:  1px solid rgba(204, 204, 204, 0.7);
font: normal 500 1em Avenir, sans-serif; 
color: #393939; 
margin-bottom: 25px;
}

.container form input[type='text']::placeholder, .container form input[type='password']::placeholder, textarea::placeholder {
padding-left: 5px;
}    

.container form input[type='submit']{
width: 50%;
height: 55px;
border: none;
background: #9198e5;
font: normal 500 0.9em Avenir, sans-serif; 
letter-spacing: 1px;
color: #fafafa;
cursor: pointer; 
}

.newsletter-subscription {
width: 85%;
height: auto;
margin: 150px auto 0 auto;
padding: 50px;
background: #fafafa;
filter: drop-shadow(2px 2px 2pc rgba(0,0,0,0.5));
}

.newsletter-subscription div {
width: 100%;
height: 230px;
overflow-y: scroll;
border: 1px solid rgba(212, 212, 212, 0.8);
margin-top: 25px;
}


.newsletter-subscription ul:first-of-type {
width: 100%;    
margin: 5px auto 0 auto;   
padding: 10px 0; 
}
    
.newsletter-subscription ul:first-of-type li {
width: 19.5%;  
font: normal 900 1em Avenir, sans-serif;   
}
        

.newsletter-subscription ul {
width: 100%;    
margin: 0 auto;
overflow-y: scroll; 
}

.newsletter-subscription ul li {
width: 19.5%;    
display: inline-block;
list-style-type: none;
font: normal 500 1em Avenir, sans-serif;
color: #393939; 
margin-bottom: 25px;
padding-left: 5px;
padding-right: 115px;
padding-bottom: 5px;
text-align: justify;
border-bottom: 1px solid rgba(212, 212, 212, 0.8);
}

.newsletter-subscription ul li a {
color: #131313;
}

.newsletter-subscription ul li a:hover {
color: #000000;
text-decoration: none;
}

.newsletter-subscription ul:nth-child(2) li:nth-last-child(-n+3) {
border: none;
}

#newsletter {
display: block;    
width: 25%;
height: 50px;
border: none;
background: #9198e5;
font: normal 500 0.9em Avenir, sans-serif; 
letter-spacing: 1px;
color: #fafafa;
text-align: center;
line-height: 3.5em;
text-decoration: none;
margin: 50px auto 0 auto;
}



p {
font: normal 500 1em Avenir, sans-serif;
color: #393939; 
padding-left: 5px; 
margin: 20px 0 0 25px;  
}

textarea {
width: 100%;
height: 120px;
border: 1px solid rgba(212, 212, 212, 0.8);
margin: 5px 0 45px 0;
padding-top: 5px;
font: normal 500 1em Avenir, sans-serif; 
color: #393939; 
}
    